<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "SoftCoTests" parallel="tests" thread-count="5" preserve-order="true">
	<listeners>
		<listener class-name = "org.uncommons.reportng.HTMLReporter"/>	
		<listener class-name = "org.uncommons.reportng.JUnitXMLReporter"/>			
	</listeners>
    
    <test name="TestDocumentSearch_TESTENV">
    	<parameter name="APPURL" value="https://chgtest.softco.com/softco/"/>
        <classes>
       		<class name="tests.TestMissingClient" />
       		<class name="tests.TestDocumentSearch" />
       		<class name="tests.TestInvoiceSearch" />
       		<class name="tests.TestTimeSheetSearch" />
       		<class name="tests.TestCarRentalSearch" />       		
        </classes>
    </test>
   
</suite>
<!-- Suite -->